
/* Imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Kite+One&family=Poetsen+One&display=swap');

.fugaz-one-regular {
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.kite-one-regular {
  font-family: "Kite One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body {
  margin: 0;
  padding: 0;
}


/* Header style */
header {
  font-family: "Fugaz One", sans-serif;
  background-color: #5bc5a9;
  color: #fff0ae;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 7px;
  max-width: 100%;
  height: auto;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.logo h1 {
  margin: 0;
}



/* login/signup styling */

.login-signup-container {
  display: flex;
  gap: 2rem;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  background: #fff;
  padding: 2rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.login-container, .signup-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  background: #fff;
  padding: 2rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.login-container h2, .signup-container h2 {
  margin-bottom: 1rem;
}

/* User information */

.btn-logout{
  background: #fff0ae;
  color: black;
  display: inline-block;
  width: fit-content;
  padding: 0.1rem 0.2rem;
  border-radius: 4rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s ease all;
}

/* Footer styling */
.footer{
  font-family: "Kite One", sans-serif;
  background-color: #5bc5a9;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  padding: 2rem 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  display: grid;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.footer .footer-links {
  display: flex;
  gap: 1rem;
}
.footer .footer-github {
  display: flex;
  gap: 1rem;
}

/* cart header styling */
.cartPage{
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 240, 174, 1);
}


/* Home page Bakground */
.app {
  background-image: url('/image/Blue.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1800px;
}

/* Shop Now route style */
.stickerPost{
  width:auto; 
  background: rgba(255, 240, 174, 0.35);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.7px);
  -webkit-backdrop-filter: blur(3.7px);
  border: 1px solid rgba(255, 240, 174, 1);
}
.sticker{
  padding: 1rem;
  border-radius: 2rem;
  padding-bottom: 2rem;
  transition: .3s ease all;
  cursor: pointer;
}
.sticker-container{
  font-family: "Kite One", sans-serif;
  display: grid;
  grid-template-columns: repeat(5 , 1fr);
  gap: 4rem;
 
}

img{
  display: block;
  object-fit: cover;
  width: 100%;
}
.sticker-img{
  border-radius: .8rem;
  overflow: hidden;
}
.sticker-footer{
  display: flex;
  align-items: flex-end;
  margin-top: 1rem;
  justify-content: space-between;
}

.sticker-header{
  font-family: "Fugaz One", sans-serif;
}
.sticker-sub-header{
  font-family: "Kite One", sans-serif;
}

/* Nav links styling */

.nav{
  display: grid;
  place-items: center;
  position: fixed;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 4px solid #ccc;
  z-index: 100;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-link {
  color: #fff0ae;
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-left: 2rem;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: #fff0ae;
  font-family: "Kite One", sans-serif;
}

.nav-link:hover, .nav-link.active {
  text-decoration: underline;
}

/* Delete Styling */
.btn-delete {
  background: #ea5a5a;
  color: white;
  display: inline-block;
  width: fit-content;
  padding: 0.1rem 0.3rem;
  border: none;
  border-radius: 4rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  cursor: pointer;
  transition: .3s ease all;
}

.btn-delete:hover {
  background-color: #ff1c1c;
}

.searchcontainer{
  display: flex;
  align-items: center;
  margin-left:30px;
}

.searchinput{
  margin-left:10px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(15, 80, 116);
  border: 0.7px solid ;
  border-radius:16px;
  padding-left: 12px;
  height: 30px;
  width: 300px;
  background-color: rgba(255, 240, 174, 0.35);
}
.searchinput:focus,
.searchinput:active{
  outline:0.7px invert ;
  color: rgb(17, 44, 103)
  
}

/* Payment form styling */
.payment {
  background-color: #b4f2d6; /* Lighter green */
  color: #333;
  padding: 60px;
  border-radius: 12px; /* Adjusted border radius */
  border: 4px solid #1c8b5d; /* Darker green border */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Adjusted box shadow */
}

/* .payment input {
  padding: 12px; 
  margin-bottom: 20px;
  border: 2px solid #ddd; 
  border-radius: 8px; 
  width: 100%;
  box-sizing: border-box;
} */

.payment button {
  background-color: #1c8b5d; /* Darker green */
  color: white;
  border: none;
  border-radius: 8px;
  padding: 14px 28px; /* Adjusted padding */
  cursor: pointer;
  font-size: 20px; /* Adjusted font size */
  transition: background-color 0.3s;
}

.payment button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.payment button:hover {
  background-color: #165f41; /* Darker shade of green on hover */
}

/* Payment form input label */
÷

/* Payment form input placeholder */
.payment input::placeholder {
  color: #888;
}

/* Payment form input focus style */
/* .payment input:focus {
  outline: none;
  border-color: #1c8b5d; 
} */

